<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.cdac.controller, com.cdac.service, com.cdac.dao" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" init-method="start">
	    <property name="driverClassName" value = "com.mysql.cj.jdbc.Driver" />
	    <property name="url" value = "jdbc:mysql://localhost:3306/cdac" />
	    <property name="username" value = "root" />
	    <property name="password" value = "passw0rd" />
	    <property name="initialSize" value = "3" />
  	</bean>
  	
	<bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="persistenceUnitName" value="my-pu1" />
	    <property name="dataSource" ref="dataSource" />
	    <property name="packagesToScan" value="com.cdac.entity" />
	    <property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
	    </property>
	    <property name="jpaProperties">
	        <props>
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	    <property name="entityManagerFactory" ref="myEmf" />
	</bean>
	
	<tx:annotation-driven />

</beans>