<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SpringMVCIntro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  		This Servlet provided by Spring framework will play the role of
  		Front Controller in our applications
  		This servlet will act as an entry point in the application
  		and help the request route to the respective controller
  		Also we won't need to write this code anymore:
  			//Loading Spring/IOC Container
			ApplicationContext ctx = new ClassPathXmlApplicationContext("my-spring-config.xml");
  		The same will be taken care by this Servlet	
  		Only thing we need take care of is the xml file. Now the xml file name should be:
  			<servlet-name>-servlet.xml
  			So according to our configuration, it should be:
  			spring-mvc-servlet.xml
  -->
  <servlet>
  	<servlet-name>spring-mvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>spring-mvc</servlet-name>
	<url-pattern>*.cdac</url-pattern>  
  </servlet-mapping>
  
</web-app>