
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

key1 @ViewData["key1"].ToString();
<br/>

@{
    int i =(int) ViewData["key2"];
    bool b = ViewBag.key3;

 }

key2 @i
<br />

key3 @b
<br />

key4 @TempData["key4"].ToString();
